version: 2.1

_refs:
  cwd: &cwd ~/jobs
  ssh-config: &ssh-config
    fingerprints:
      - '62:cb:86:a5:2b:57:ef:a8:a1:c2:cf:38:50:d0:61:58'
  cache-config: &cache-config
    key: dependency-cache-{{ checksum "package.json" }}
  restore-cache: &restore-cache
    <<: *cache-config
  save-cache: &save-cache
    <<: *cache-config
    paths:
      - ~/jobs/node_modules
      - /usr/local/share/.cache/yarn
      - /usr/local/share/.config/yarn
  lerna: &lerna
    name: Installing Lerna
    command: npm install -g lerna
  install: &install
    name: Install dependencies
    command: .circleci/greenkeeper
  bootstrap: &bootstrap
    name: Bootstraping
    command: yarn bootstrap
  build: &build
    name: Building
    command: yarn build
  test: &test
    name: Testing
    command: yarn ci-test
  coverage: &coverage
    name: Submitting code coverage to codecov
    command: |
      ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
      curl -s https://codecov.io/bash | bash
  gh-config: &gh-config
    name: Configuring GitHub
    command: |
      git config credential.helper 'cache --timeout=120'
      git config user.email "$GH_EMAIL"
      git config user.name "Deployment Bot"
  npm-config: &npm-config
    name: Configuring NPM
    command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

_defaults: &defaults
  docker:
    - image: node:latest
  working_directory: *cwd

jobs:
  node-latest: &node-test
    <<: *defaults
    steps:
      - add_ssh_keys: *ssh-config
      - checkout
      - restore_cache: *restore-cache
      - run: *install
      - run: *bootstrap
      - run: *build
      - run: *test
      - run: *coverage
      - save_cache: *save-cache
  node-8:
    <<: *node-test
    docker:
      - image: node:8
  release:
    <<: *defaults
    steps:
      - add_ssh_keys: *ssh-config
      - checkout
      - restore_cache: *restore-cache
      - run: *gh-config
      - run: *lerna
      - run: *install
      - run: *bootstrap
      - run: *build
      - run: *npm-config
      - run:
          name: Status
          command: git status
      - run:
          name: Publishing
          command: lerna publish --conventional-commits -y
      - save_cache: *save-cache
  merge:
    <<: *defaults
    steps:
      - add_ssh_keys: *ssh-config
      - checkout
      - restore_cache: *restore-cache
      - run: *install
      - run: *bootstrap
      - run: *build
      - run: *gh-config
      - run:
          name: Merging
          command: |
            git fetch
            git checkout develop
            git pull origin develop
            git merge origin/master
            git push origin develop
      - save_cache: *save-cache
  ci-docs:
    <<: *defaults
    steps:
      - add_ssh_keys: *ssh-config
      - checkout
      - restore_cache: *restore-cache
      - run: *install
      - run: *bootstrap
      - run: *build
      - run: *gh-config
      - run: yarn ci-docs
      - save_cache: *save-cache

workflows:
  version: 2
  cli-packages:
    jobs:
      - node-latest
      - node-8
      - release:
          filters:
            branches: { only: master }
          requires:
            - node-latest
            - node-8
      - merge:
          filters:
            branches: { only: master }
          requires:
            - release
      - ci-docs:
          filters:
            branches: { only: master }
          requires:
            - release
